
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
    int counter = 0;
}
<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- post -->
            @foreach (var item in ViewBag.Background)
            {
                <div class="col-md-6">
                    <div class="post post-thumb">
                        <a class="post-img" href="@Url.Action("Detail", "Client", new { id = item.PostId })"><img src="@Url.Content(item.Image)" height="330" alt=""></a>
                        <div class="post-body">
                            <div class="post-meta">
                                <a class="post-category cat-2" href="#">@item.CategoryName</a>
                                <span class="post-date">@item.PostModify</span>
                            </div>
                            <h3 class="post-title"><a href="@Url.Action("Detail", "Client", new { id = item.PostId })">@item.PostTitle</a></h3>
                        </div>
                    </div>
                </div>
            }
            <!-- /post -->
        </div>
        <!-- /row -->
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>Technical</h2>
                </div>
            </div>

            @foreach (var item in ViewBag.Technical)
            {
                if (counter != 0 && counter % 3 == 0)
                {
                    @:<div class="clearfix visible-md visible-lg"></div>
                }
                <!-- post -->
                <div class="col-md-4">
                    <div class="post">
                        <a class="post-img" href="@Url.Action("Detail", "Client", new { id = item.PostId })"><img src="@Url.Content(item.Image)" height="216" alt=""></a>
                        <div class="post-body">
                            <div class="post-meta">
                                <a class="post-category cat-1" href="#">@item.CategoryName</a>
                                <span class="post-date">@item.PostModify</span>
                            </div>
                            <h3 class="post-title"><a href="@Url.Action("Detail", "Client", new { id = item.PostId })">@item.PostTitle</a></h3>
                        </div>
                    </div>
                </div>
                counter++;
                <!-- /post -->
            }
        </div>
        <!-- /row -->
        <!-- row -->
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <!-- post -->
                    @foreach (var item in ViewBag.News)
                    {
                        <div class="col-md-12">
                            <div class="post post-thumb">
                                <a class="post-img" href="@Url.Action("Detail", "Client", new { id = item.PostId })"><img src="@Url.Content(item.Image)" height="450" alt=""></a>
                                <div class="post-body">
                                    <div class="post-meta">
                                        <a class="post-category cat-3" href="#">@item.CategoryName</a>
                                        <span class="post-date">@item.PostModify</span>
                                    </div>
                                    <h3 class="post-title"><a href="@Url.Action("Detail", "Client", new { id = item.PostId })">@item.PostTitle</a></h3>
                                </div>
                            </div>
                        </div>
                    }
                    <!-- /post -->
                    @foreach (var item in ViewBag.Slider)
                    {
                        <!-- post -->
                        if (counter != 0 && counter % 2 == 0)
                        {
                            @:<div class="clearfix visible-md visible-lg"></div>
                        }
                        <div class="col-md-6">
                            <div class="post">
                                <a class="post-img" href="@Url.Action("Detail", "Client", new { id = item.PostId })"><img src="@Url.Content(item.Image)" height="216" alt=""></a>
                                <div class="post-body">
                                    <div class="post-meta">
                                        <a class="post-category cat-4" href="#">@item.CategoryName</a>
                                        <span class="post-date">@item.PostModify</span>
                                    </div>
                                    <h3 class="post-title"><a href="@Url.Action("Detail", "Client", new { id = item.PostId })">@item.PostTitle</a></h3>
                                </div>
                            </div>
                        </div>
                        <!-- /post -->
                        counter++;
                    }

                </div>
            </div>

            <div class="col-md-4">
                <!-- post widget -->
                <div class="aside-widget">
                    <div class="section-title">
                        <h2>Recent Posts</h2>
                    </div>

                    @foreach (var item in ViewBag.Recent)
                    {
                        <div class="post post-widget">
                            <a class="post-img" href="@Url.Action("Detail", "Client", new { id = item.PostId })"><img src="@Url.Content(item.Image)" height="90" width="90"></a>
                            <div class="post-body">
                                <h3 class="post-title"><a href="@Url.Action("Detail", "Client", new { id = item.PostId })">@item.PostTitle</a></h3>
                            </div>
                        </div>
                    }
                </div>
                <!-- /post widget -->
                <div class="aside-widget">
                    <div class="section-title">
                        <h2>Featured Posts</h2>
                    </div>
                    @foreach (var item in ViewBag.Featured)
                    {
                        <div class="post post-thumb">
                            <a class="post-img" href="@Url.Action("Detail", "Client", new { id = item.PostId })"><img src="@Url.Content(item.Image)" height="216" alt=""></a>
                            <div class="post-body">
                                <div class="post-meta">
                                    <a class="post-category cat-1" href="#">@item.CategoryName</a>
                                    <span class="post-date">@item.PostModify</span>
                                </div>
                                <h3 class="post-title"><a href="@Url.Action("Detail", "Client", new { id = item.PostId })">@item.PostTitle</a></h3>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /section -->
<!-- section -->
<div class="section section-grey">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <h2>Featured Posts</h2>
                </div>
            </div>
            @foreach (var item in ViewBag.Featured)
            {
                <!-- post -->
                <div class="col-md-4">
                    <div class="post">
                        <a class="post-img" href="@Url.Action("Detail", "Client", new { id = item.PostId })"><img src="@Url.Content(item.Image)" height="216" alt=""></a>
                        <div class="post-body">
                            <div class="post-meta">
                                <a class="post-category cat-2" href="#">@item.CategoryName</a>
                                <span class="post-date">@item.PostModify</span>
                            </div>
                            <h3 class="post-title"><a href="@Url.Action("Detail", "Client", new { id = item.PostId })">@item.PostTitle</a></h3>
                        </div>
                    </div>
                </div>
                <!-- /post -->
            }
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /section -->
<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title">
                            <h2>Recent Posts</h2>
                        </div>
                    </div>
                    <!-- post -->
                    @foreach (var item in ViewBag.Recent)
                    {
                        <div class="col-md-12">
                            <div class="post post-row">
                                <a class="post-img" href="@Url.Action("Detail", "Client", new { id = item.PostId })"><img src="@Url.Content(item.Image)" height="180" alt=""></a>
                                <div class="post-body">
                                    <div class="post-meta">
                                        <a class="post-category cat-2" href="#">@item.CategoryName</a>
                                        <span class="post-date">@item.PostModify</span>
                                    </div>
                                    <h3 class="post-title"><a href="@Url.Action("Detail", "Client", new { id = item.PostId })">@item.PostTitle</a></h3>
                                    <p>@item.PostDecription</p>
                                </div>
                            </div>
                        </div>
                        <!-- /post -->
                    }
                </div>
            </div>

        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /section -->