
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>WebMag HTML Template</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:700%7CNunito:300,600" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="~/Template/Client/css/bootstrap.min.css" />

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="~/Template/Client/css/font-awesome.min.css">
    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="~/Template/Client/css/style.css" />
    <link href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap.min.css" rel="stylesheet" />

    <!-- jQuery Plugins -->
    <script src="~/Template/Client/js/jquery.min.js"></script>
    <script src="~/Template/Client/js/bootstrap.min.js"></script>
    <script src="~/Template/Client/js/main.js"></script>
    <script src="~/Template/global_assets/js/plugins/ui/moment/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.6.3/jquery.timeago.min.js"></script>

    @RenderSection("scripts", required: false)
</head>
<body>

    <!-- Header -->
    <header id="header">
        <!-- Nav -->
        <div id="nav">
            <!-- Main Nav -->
            <div id="nav-fixed">
                <div class="container">
                    <!-- logo -->
                    <div class="nav-logo">
                        @*<a href="/Client" class="logo"><img src="~/Template/Client/img/logo.png" alt="" width="110"></a>*@
                    </div>
                    <!-- /logo -->
                    <!-- nav -->
                    @*<ul class="nav-menu nav navbar-nav">
                        <li><a href="/Client/Categories/7">News</a></li>
                        <li><a href="/Client/Categories/8">Popular</a></li>
                        <li><a href="/Client/Categories/9">.Net</a></li>
                        <li><a href="/Client/Categories/11">ReactJs</a></li>
                        <li><a href="/Client/Categories/14">Technical</a></li>
                        <li><a href="/Client/Categories/10">Javacript</a></li>
                    </ul>*@
                    <div id="idListCategory">

                    </div>
                    <!-- /nav -->
                    <!-- search & aside toggle -->
                    <div class="nav-btns">
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <button class="aside-btn" onclick="location.href='@Url.Action("Login","Client")'"><h3>Sign In</h3></button>
                        }
                        else
                        {
                            <button class="aside-btn" onclick="location.href='@Url.Action("ProfileClient","Client")'"><h3 id="idShowName"></h3></button>
                        }
                        <button onclick="location.href='@Url.Action("LogOff","Account")'"><i class="fa fa-power-off"></i></button>
                        <button class="search-btn"><i class="fa fa-search"></i></button>
                        <div class="search-form">
                            <input class="search-input" id="idSearch" type="text" name="search" placeholder="Enter Your Search ...">
                            <button class="search-close"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <!-- /search & aside toggle -->
                </div>
            </div>
            <!-- /Main Nav -->
        </div>
        <!-- /Nav -->
    </header>
    <!-- /Header -->
    <div id="search-content">
        @RenderBody()
    </div>
    <!-- Footer -->
    <footer id="footer">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-5">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <a href="#" class="logo"></a>
                        </div>
                        <ul class="footer-nav">
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Advertisement</a></li>
                        </ul>
                        <div class="footer-copyright">
                            <span>
                                &copy; <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made by Minh Huynh</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </span>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="footer-widget">
                                <h3 class="footer-title">About Us</h3>
                                <ul class="footer-links">
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="#">Join Us</a></li>
                                    <li><a href="contact.html">Contacts</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="footer-widget">
                                <h3 class="footer-title">Categories</h3>
                                <ul class="footer-links">
                                    <li><a href="/Client/Categories/7">News</a></li>
                                    <li><a href="/Client/Categories/8">Popular</a></li>
                                    <li><a href="/Client/Categories/9">.Net</a></li>
                                    <li><a href="/Client/Categories/17">Technical</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="footer-widget">
                        <h3 class="footer-title">Join our Newsletter</h3>
                        <div class="footer-newsletter">
                            <form>
                                <input class="input" type="email" name="newsletter" placeholder="Enter your email">
                                <button class="newsletter-btn"><i class="fa fa-paper-plane"></i></button>
                            </form>
                        </div>
                        <ul class="footer-social">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        </ul>
                    </div>
                </div>

            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </footer>
    <!-- /Footer -->


</body>
</html>
<script>
    // Search Nav
    $('.search-btn').on('click', function () {
        $('.search-form').addClass('active');
    });

    $('.search-close').on('click', function () {
        $('.search-form').removeClass('active');
    });

    $('#idSearch').bind("enterKey", function (e) {
        var searchText = $("#idSearch").val();
        if (searchText.trim() === "") {
            return false;
        }
        $.ajax({
            type: "GET",
            url: "/Client/Search?title=" + searchText,
            dataType: "html",
            success: function (response) {
                $('#search-content').html(response);
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });

    });
    $('#idSearch').keyup(function (e) {
        if (e.keyCode === 13) {
            $(this).trigger("enterKey");
        }
    });
    $(document).ready(function () {
        $("time.timeago").timeago();

         $.ajax({
            type: 'GET',
            url: '@Url.Action("ShowUser", "Client")',
            contentType: 'application/json;',
            dataType: 'json',
            success: function (data) {
                if ($.trim(data)) {
                    $("#idShowName").text(data.FullName);
                }
                else {
                    return false;
                }
            }
        });

        $.ajax({
            type: 'GET',
            url: '@Url.Action("_ListModules", "Modules")',
            dataType: 'html',
            success: function (data) {
                $("#idListCategory").html(data);
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });

        $.ajax({
            type: 'GET',
            url: '@Url.Action("LoadInfo", "AppSetting")',
            contentType: 'application/json;',
            dataType: 'json',
            success: function (data) {
                if ($.trim(data)) {
                    var image = data.Logo;
                    $(".nav-logo").html('<a href="/Client" class="logo"><img src="' + image +'" alt="" width="110"></a>');
                }
                else {
                    return false;
                }
            }
        });

    });



</script>